@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@300;500&family=Roboto+Mono:wght@400;700&display=swap');
h1, h3, h4, h5, h6 {
    font-family: "Quicksand", serif;
    background-color: #b0c4de;
    font-weight: bold;
    }
body {
        max-width: 1260px;
        margin:  auto;
        display: block;
}
header {
    font-family: "Quicksand", serif;
    background-color: #b0c4de;
    padding: 0.1em;
    border-radius: 0.5em;
    text-align: center;
    width: 100%;
}
h2 {
    font-family: "Roboto", sans-serif;
    margin-top: -15px;
    
}
li {
    font-family: "Quicksand", serif;
    margin-left: 2em;
}
article {
    margin-top: 0.5em;
}
article img {
    width: 100%;
}

footer {
    font-family: "Quicksand", serif;
    background-color: #b0c4de;
    text-align: center;
    padding: 0.2em;
    border-radius: 0.5em;
}
footer  p {
    color: yellow;
    margin-top: 2px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5em;
}
main p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;


}
h3 {
    text-indent: 0.5em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    padding: 0em;
}

@media screen and (max-width: 900px) { 
    /* beginning of media query for medium sized devices */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    }

@media screen and (max-width: 600px) { 
    /* beginning of media query for small devices */
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    }