@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,700&family=Playfair+Display:wght@400;700&display=swap');

h1, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    background-color: #FC4445;
    text-align: center;
}
body {
 max-width: 960px;
 margin: auto;
}
.main-heading {
    background-color:#ffffff;
    text-align: center;
    width: 100%;
    border: none;
    padding: 5px;
}


nav  {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    font-family: "Playfair Display";
}
a:first-child {
    display: none;
}
nav a {
    display: block;
    padding: 0.5em;
    align-self: center;
    flex: 1 1 100%;
    background-color: #ffffff;    
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    background-color: #FC4445;
}
header {
    display: flex;
    padding: 1em;
    background-color: #FC4445;
    font-style: italic;
    align-self: center;
    margin-bottom: 2px;
}
header div {
    margin-top: -20px;
}

main {
    
    text-align: left;
    font-family: "Josefin Sans", serif;
    font-size: 20px;

}
.latercontent {
    padding: 0.5em;
    border-style: dotted;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #EEF4ED;
    position: relative;

}
main div img {
    height: 20em;
}
.weather {
    position: absolute;
	top: 125px;
	left: 100px;
    bottom: 100px;
	background: radial-gradient(#eee, #FC4445);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.9;
}
main div section p {
    margin: 2px;
}

footer {
    background-color: #FC4445;
    text-align: center;
    font-family: "Playfair Display";
}

.latercontent1 img {
    max-width: 50px;
    max-height: 50px;
}
.day-weather {
    display: grid;
    border-right: 1px #000;
    align-self: center;
    flex: 1 1 100%;
    border-left: 1px #000;

}
.latercontent1 {
    display: flex;
    width: 100%;
    padding: 0px;
    background-color: #EEF4ED;
    border: 2px #000;
    border-style: double;
    margin-top: -30px;
}
.latercontent4 {
    display: flex;
}
.day-label {
    display: block;
    background-color: #000;
    color: #eee;
    width: 100%;
    flex: 1;
    text-align: center;
}
.dayname {
    display: block;
    text-align: center;
    margin-right:  1em;
    flex: 1;
    justify-content: center;
}

@media only screen and (max-width: 900px) { 
    /* beginning of media query for medium sized devices */
    nav  {
        display: block;
        text-align: center;
    }
    nav a {
        display: block;
        flex: 1 1 auto;
        text-align: center;
        margin: 2px;
    
    }
    nav a:first-child {
        display: none;
    }
    }
    @media only screen and (max-width: 500px) { 
    /* beginning of media query for small devices */
    nav a:first-child {
        display: block;

    }
    nav a {
        display: none;
    }
    .responsive a{
        display: block;
        flex: 1 1 auto;
        text-align: center;
        margin: 2px;
}
.responsive a:hover {
    background-color: #EEF4ED;
}
    }
    