@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,700&family=Playfair+Display:wght@400;700&display=swap');

@media only screen and (max-width: 500px) { 
    /* beginning of media query for small devices */
    nav a:first-child {
        display: block;
    }
    nav a{
        display: none;
    }
    }
    .responsive nav a {
        display: block;
    }
