@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,700&family=Playfair+Display:wght@400;700&display=swap');

.gallery-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
figure picture img {
    max-width: 250px;
    height: auto;
}