@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,700&family=Playfair+Display:wght@400;700&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    background-color: #FC4445;
    text-align: center;
}
.colored-heading {
   
    background-color:#55BCC9;
    
}
header {
    display: flex;
    padding: 1em;
    background-color: #FC4445;
    font-style: italic;
    align-self: center;
    margin-bottom: 2px;
}
header div {
    margin-top: -20px;
}
nav a {
    color:#333;
    display: block;
    text-decoration: none;
    flex: 1 1 auto;
    text-align: center;
    padding: 2px;
    margin: 2px;
    background-color: #FC4445;

}

.primary {
    
    background-color: #FC4445;
}
.secondary {
    color: #3FEEE6;
    background-color: #333;

}
.accent1 {
    color: #55BCC9;
    background-color: #333;
}

.colored-paragraph {
    background-color:#55BCC9;
}
.paragraph-example {
    font-family: "Josefin sans", sans-serif;
    font-weight: bold;
}

a:hover {
    padding: 0.1em;
    background-color: #3FEEE6;
}
body {
    max-width: 960px;
    margin: auto;
}
footer {
    text-align: center;
}