body {
    display: flex;
    flex-flow: column;    
    align-items: center;
}
img {
    justify-self: center;
}
footer {
    text-align: center;
}
@media screen and (max-width: 500px) { 
    /* beginning of media query */
        body {
            display: block;
        }
    }